*.pyc
.idea/
*~
*.swp
*.log
deepspeed/git_version_info_installed.py
__pycache__

# Build + installation data
build/
dist/
*.so
deepspeed.egg-info/
build.txt

# Website
docs/_site/
docs/build
docs/code-docs/source/_build
docs/code-docs/_build
docs/code-docs/build
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Testing data
tests/unit/saved_checkpoint/

# Dev/IDE data
.vscode
.theia
