[submodule "third_party/apex"]
	path = third_party/apex
	url = https://github.com/NVIDIA/apex.git
[submodule "DeepSpeedExamples"]
	path = DeepSpeedExamples
	url = https://github.com/microsoft/DeepSpeedExamples
	branch = master
[submodule "third_party/apex_rocm"]
	path = third_party/apex_rocm
	url = https://github.com/ROCmSoftwarePlatform/apex.git
