*.pyc
.idea/
*~
*.swp
deepspeed/install_config.py

# Build + installation data
build/
dist/
fused_lamb_*.so
deepspeed.egg-info/

# Website
docs/_site/
docs/code-docs/build
.sass-cache/
.jekyll-cache/
.jekyll-metadata
