*.pyc
.idea/
*~
*.swp
deepspeed/git_version_info.py

# Build + installation data
build/
dist/
fused_lamb_*.so
deepspeed.egg-info/

# Website
docs/_site/
docs/code-docs/build
.sass-cache/
.jekyll-cache/
.jekyll-metadata

tests/unit/saved_checkpoint/
