.btn-group button {
    padding: 5px 15px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    text-transform: capitalize;
  }

  /* Clear floats (clearfix hack) */
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }

.button-71 {
  background-color: #0092ca;
  border: 0;
  border-radius: 56px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui,-apple-system,system-ui,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 600;
  outline: 0;
  padding: 16px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 1px;
}

.button-71:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: .5;
  position: absolute;
  top: 0;
  transition: all .3s;
  width: 92%;
}

.button-71:hover {
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.05);
}


.button-71:focus {
  border: 3px solid black;
  box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
  transform: scale(1.05);
  outline: none;
}


@media (min-width: 768px) {
  .button-71 {
    padding: 16px 48px;
  }
}
