clang-format==16.0.2
docutils<0.18
future
importlib-metadata>=4
pre-commit>=2.20.0
pytest
pytest-forked
pytest-randomly
pytest-xdist
recommonmark
sphinx
sphinx-rtd-theme
tensorboard
torchvision
transformers
wandb
